<!doctype html>

<html>
  <head>
    <meta charset="utf-8">

    <title>Make 7</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  </head>
<body class='hide'>
  <header>
    <h1 class="banner"><a href='/'>Home</a></h1>
    <h1 class="banner"><a href='/'>New Game</a></h1>
    <h1 class="banner"><a>Rules</a></h1>
  </header>
<div class="overlay">
  <div class="player1_tiles">
    <img class="left_image" width=60px src="/images/Ok-icon.png">
    <ul class="playername"><span class="name"></span>
      <br><br>
      Tiles Left
      <li>
        <div class="tilestack1">
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep1 hover-shadow stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
        </div>
      </li>
      <li>
        <div class="tilestack2">
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep1 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
        </div>
        </li>
      <li>
        <div class="tilestack3">
          <div class="tilep1 stack" id="draggable3" data-val="3"><span class="tiletext">3</span></div>
          <div class="tilep1 stack" id="draggable3" data-val="3"><span class="tiletext">3</span></div>
          <div class="tilep1 stack" id="draggable3" data-val="3"><span class="tiletext">3</span>
        </div>
      </div>
      </li>
      <br>
    </ul>
  </div>
<div class="player2_tiles">
  <img class="right_image" width=60px src="/images/Ok-icon.png">
  <ul class="playername"><span class="name"></span>
      <br><br>
      Tiles Left
      <li>
        <div class="tilestack1">
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
          <div class="tilep2 stack" id="draggable1" data-val="1"><span class="tiletext">1</span></div>
        </div>
      </li>
      <li>
        <div class="tilestack2">
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
          <div class="tilep2 stack" id="draggable2" data-val="2"><span class="tiletext">2</span></div>
        </div>
        </li>
      <li>
        <div class="tilestack3">
          <div class="tilep2 stack" id="draggable3" data-val="3"><span class="tiletext">3</span></div>
          <div class="tilep2 stack" id="draggable3" data-val="3"><span class="tiletext">3</span></div>
          <div class="tilep2 stack" id="draggable3" data-val="3"><span class="tiletext">3</span>
        </div>
      </div>
      </li>
      <br>
    </ul>
  </div>
  <div class="game_wrap">
    <div class="divider"></div>
    <div class="col" data-col-idx="0">
      <div class="tile_contain"></div>
      <div class="red1"></div>
    </div>
    <div class="divider"></div>
    <div class="col" data-col-idx="1">
      <div class="tile_contain"></div>
      <div class="red2"></div>
    </div>
    <div class="divider"></div>
    <div class="col" data-col-idx="2">
      <div class="tile_contain"></div>
      <div class="red3"></div>
    </div>
    <div class="divider"></div>
    <div class="col" data-col-idx="3">
      <div class="tile_contain"></div>
      <div class="red4"></div>
    </div>
    <div class="divider"></div>
    <div class="col" data-col-idx="4">
      <div class="tile_contain"></div>
      <div class="red5"></div>
    </div>
    <div class="divider"></div>
    <div class="col" data-col-idx="5">
      <div class="tile_contain"></div>
       <div class="red6"></div>
    </div>
    <div class="divider"></div>
    <div class="col" data-col-idx="6">
      <div class="tile_contain"></div>
      <div class="red7"></div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="rules-wrap">
  <div class='rules hide'>
    <h4>Object:</h4>
    <ul>
    <li>Be the first player to have your color number tiles add up to 7—in a
    straight line—either vertically, horizontally or diagonally!</li>
    </ul>
    <h4>Playing:</h4>
    <ul>
    <li>On your turn choose a number above the column you'd like to place your tile. Clicking "Play" will insert your tile in the corresponding column. "3's" can only be placed in the red boxes.</li>
    <li>For 2 players</li>
    <li>Ages 7 to adult</li>
    </ul>
    <button>Back to the game!</button>
  </div>
</div>
</div>
  <script src="/scripts/main.js"></script>
  <script src="/scripts/game.js"></script>
</body>
</html>
