<div class='login_form'>
  <h1>Welcome Player2</h1>
  <h2>Signup or Login</h2>

<form class="login" action="signup_player2" method="post">
  <input class="login" type="text" name="username" placeholder="Username">
  <br>
  <input class="login" type="text" name="password" placeholder="Password">
  <br>
  <input class="login_button" type="submit" value="SignUp">
</form>
<form class="login" action="/login_player2" method="post">
  <input class="login" type="text" name="username" placeholder="Username">
  <br>
  <input class="login" type="text" name="password" placeholder="Password">
  <br>
  <input class="login_button" type="submit" value="Login">
</form>
</div>
