<div class='login_form'>
  <h1>Welcome to Make 7</h1>
<form class="login" action="/new_game" method="post">
  <input class="login" type="text" name="player1" placeholder="Player 1">
  <br>
  <input class="login" type="text" name="player2" placeholder="Player 2">
  <br>
  <input class="login_button" type="submit" value="PLAY!">
</form>
</div>
