<h1></h1>
<div id="player_identifier" data-player-one-id="<%= @player_one_id %>" data-player-one-id="<%= @player_two_id %>"></div>
<a href="/login_player2"><button>2Player</button></a>
<a href="/login_computer"><button>Play the Computer</button></a>
<a href="/login_remoteUser"><button>Play a Stranger</button></a>

