body, html {
  background-color: rgb(0,0,100);
  color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#p1tile1 {
  position: absolute;
  top: 150px;
  left: 180px;
  z-index: 500;
  font-size: 1em;
  color: black;
}
div#p1tile2 {
  position: absolute;
  top: 256px;
  left: 180px;
  z-index: 500;
  font-size: 1em;
  color: black;
}
div#p1tile3 {
  position: absolute;
  top: 362px;
  left: 180px;
  z-index: 500;
  font-size: 1em;
  color: black;
}
div#p2tile1 {
  position: absolute;
  top: 150px;
  left: 180px;
  z-index: 500;
  font-size: 1em;
  color: black;
}
div#p2tile2 {
  position: absolute;
  top: 256px;
  left: 180px;
  z-index: 500;
  font-size: 1em;
  color: black;
}
div#p2tile3 {
  position: absolute;
  top: 362px;
  left: 180px;
  z-index: 500;
  font-size: 1em;
  color: black;
}

h1.welcome {
  color: white;
  font-family: 'Paytone One', sans-serif;
  text-shadow: 2px 2px 18px black;
  font-weight: bold;
  font-size: 4.5em;
}
div#flash {
  position: relative;
  z-index: 1200;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
text-align: center;
}
div.form-left {
  display:inline-block;
  text-align: center;
  position: relative;
  border: solid 10px white;
  width: 300px;
  height: 220px;
  background-color: rgba(255,255,255,.2);
  padding: 30px;
  border-radius: 40px;
  box-shadow: 4px 4px 40px black;
}
div.or {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Paytone One', sans-serif;
  text-shadow: 2px 2px 18px black;
  font-weight: bold;
  top: 350px;
  font-size: 3.5em;
  z-index: 1;
}
div.login_form {
  text-align: center;
  margin: auto;
}

div.form-right {
  display:inline-block;
  text-align: center;
  position: relative;
  border: solid 10px white;
  width: 300px;
  height: 220px;
  background-color: rgba(255,255,255,.2);
  padding: 30px;
  border-radius: 40px;
  box-shadow: 4px 4px 40px black;
}
button.backtothegame {
  left: 187px;
}
div.menu {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 100px;
  border: solid 10px white;
  width: 300px;
  height: 220px;
  background-color: rgba(255,255,255,.2);
  padding: 30px;
  border-radius: 40px;
  box-shadow: 4px 4px 40px black;
}

div.game_wrap {
  padding: 0;
  width: 668px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  height: 630px;
  box-shadow: 4px 4px 40px;
  position: relative;
}
header {
  padding-bottom: 6px;
}
h1.banner {
  font-size: 2em;
  margin: 10px;
  font-family: 'Lato', sans-serif;
  display: inline;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  color: yellow;
}

div.sidebar_left {
  float:left;
  display: inline-block;
  height: 500px;
  width: 300px;
  background: rgba(0,0,0,.5);
}
div.sidebar_right {
  float: right;
  display: inline-block;
  height: 500px;
  width: 300px;
  background: rgba(0,0,0,.5);
}
div.col {
  position: relative;
  margin:0px;
  width: 92px;
  height: 100%;
  float: left;
  background: rgba(255, 255, 255, 1);
  text-align: center;
}
div.divider {
  position: relative;
  float: left;
  width: 3px;
  height: 100%;
  background-color: rgb(220,220,220);
  box-shadow: 2px 0px 20px rgba(0,0,0,.1);
  z-index: 200;
}

div.tile_contain {
  width: 100%;
  position: absolute;
  bottom: 0;
}

div.player1_tiles {
  color: white;
  width: 240px;
  height: 460px;
  text-align: left;
  background: rgba(255,255,255,.4);
  font-size: 1.5em;
  float: top;
  right: 50%;
  margin-right: 360px;
  position: absolute;
  border-radius: 20px;
  box-shadow: 4px 4px 40px rgba(0,0,0,.4);
  z-index: 500;
  border-top: solid red 58px;
  border-bottom: none;
}
ul.playername {
  margin-top: -50px;
  text-align: center;
  padding: 0;
  list-style: none;
}
span.name {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 30px;

}

div.player2_tiles {
  color: white;
  width: 240px;
  height: 460px;
  text-align: left;
  background: rgba(255,255,255,.4);
  font-size: 1.5em;
  float: top;
  left: 50%;
  margin-left: 360px;
  position: absolute;
  border-radius: 20px;
  box-shadow: 4px 4px 40px rgba(0,0,0,.4);
  z-index: 600;
  border-top: solid red 58px;
  border-bottom: none;
}
div.tilep1 :hover {
  cursor: pointer;
}
div.tilep2 :hover {
  cursor: pointer;
}

div.container_hover {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-shadow:    inset 0 0 60px lightgreen;
  -webkit-box-shadow: inset 0 0 60px lightgreen;
  box-shadow:         inset 0 0 60px lightgreen;
}
div.container_hover_false:hover {
 box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-shadow:    inset 0 0 60px red;
  -webkit-box-shadow: inset 0 0 60px red;
  box-shadow:         inset 0 0 60px red;
}

span.tiletext {
  font-size: 80px;
  color: black;
}
div.stack {
  position: absolute;
  z-index: 1201;
}
div.tilestack1 {
  margin:     auto;
  margin-top: 50px;
  position:   relative;
  width:      90px;
  height:     90px;
  bottom:     40px;
}
div.tilestack2 {
  margin:     auto;
  margin-top: 16px;
  position:   relative;
  width:      90px;
  height:     90px;
  bottom:     40px;
}
div.tilestack3 {
  margin:     auto;
  margin-top: 16px;
  position:   relative;
  width:      90px;
  height:     90px;
  bottom:     40px;
}
div.tilep1 {
  border-radius:  8px;
  text-shadow:    1px 1px 1px black;
  left:          -1px;
  bottom:         0px;
  background-color: white;
  width:          90px;
  height:         88px;
  z-index:        1202;
  margin:         auto;
  border: solid black 1px;
}

div.tilep2 {
  border-radius: 8px;
  text-shadow: 1px 1px 1px black;
  left:     -1px;
  bottom:   0px;
  background-color: yellow;
  width:    90px;
  height:   88px;
  z-index:  1202;
  margin: auto;
  border: solid black 1px;
}

div.red1{
  box-shadow: 0px 0px 2px;
  position: absolute;
  left: -7px;
  bottom: 175px;
  width: 86px;
  height: 80px;
  border: solid 10px red;
  z-index: 1200;
}
div.red2{
  box-shadow: 0px 0px 2px;
  position: absolute;
  left: -7px;
  bottom: 355px;
  width: 86px;
  height: 80px;
  border: solid 10px red;
  z-index: 1200;
}
div.red3{
  box-shadow: 0px 0px 2px;
  position: absolute;
  left: -7px;
  bottom: 445px;
  width: 86px;
  height: 80px;
  border: solid 10px red;
  z-index: 1200;
}
div.red4{
  box-shadow: 0px 0px 2px;
  position: absolute;
  left: -7px;
  bottom: 265px;
  width: 86px;
  height: 80px;
  border: solid 10px red;
  z-index: 1200;
}
div.red5{
  box-shadow: 0px 0px 2px;
  position: absolute;
  left: -7px;
  bottom: 445px;
  width: 86px;
  height: 80px;
  border: solid 10px red;
  z-index: 1200;
}
div.red6{
  box-shadow: 0px 0px 2px;
  position: absolute;
  left: -7px;
  bottom: 355px;
  width: 86px;
  height: 80px;
  border: solid 10px red;
  z-index: 1200;
}
div.red7{
  box-shadow: 0px 0px 2px;
  position: absolute;
  left: -7px;
  bottom: 175px;
  width: 86px;
  height: 80px;
  border: solid 10px red;
  z-index: 1200;
}
img.right_image {
  position: absolute;
  top: -40px;
  right: 8px;
}
img.left_image {
  position: absolute;
  top: -40px;
  left: 170px;
}
.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.glow:hover, .glow:focus, .glow:active {
  box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}
div.rules-wrap {
  position: absolute;
  width: 100%;
  height: 500px;
  margin-top: 60px;
  top: 0px;
}
.hide {
  visibility: hidden;
  position: absolute;
}

div.rules {
  font-weight: bold;
  position: relative;
  margin: auto;
  background-color: rgba(255,255,255,.9);
  max-width: 600px;
  border-radius: 60px;
  padding: 50px;
  border: 10px white solid;
  box-shadow: 4px 4px 26px;
  text-align: left;
  padding-bottom: 40px;
  color: rgb(80,80,80);
  z-index: 1205;
}
input {
  position:relative;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: red;
  z-index: 1000;
}
input:hover {
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  z-index: 1000;
}
button {
  position:relative;

  margin:auto;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: red;
  z-index: 1000;
}
button:hover {
  position:relative;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  background: red;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  z-index: 1000;
}

input.login_button {
  position:relative;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: red;
  z-index: 1000;
}
input.login_button:hover {
  position:relative;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  background: red;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  z-index: 1000;

}
button.login_button {
  position:relative;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  background: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: red;
  z-index: 1000;
}
button.login_button:hover {
  position:relative;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  background: red;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  z-index: 1000;
}

input.login {
  position:relative;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4em;
  margin: 10px;
  font-family: 'Lato', sans-serif;
  z-index: 1000;
}
div.top-left {
  border-radius: 20px 20px 0 0;
  border: solid 1px black;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: .8em;
  background: rgba(0,0,0,.5);
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.9);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.9);
  box-shadow:         inset 0 0 10px rgba(0,0,0,.9);
  text-shadow: 0 0 20px black;
}
div.bottom-left {
  border-radius: 0 0 20px 20px;
  border: solid 1px black;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: .8em;
  background: rgba(0,0,0,.5);
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.9);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.9);
  box-shadow:         inset 0 0 10px rgba(0,0,0,.9);
  text-shadow: 0 0 20px black;
}

div.left-divider {
  position: absolute;
}

button.playagain {
  position: relative;
  z-index: 1300;
  font-size: 20px;
}

div#winner {
  position: relative;
  margin: auto;
  text-align: center;
  border: solid 10px white;
  width: 500px;
  font-size: 3.5em;
  font-family: 'Paytone One', sans-serif;
  text-shadow: 2px 2px 18px black;
  background-color: rgba(0,255,0,.8);
  padding: 30px;
  border-radius: 40px;
  z-index: 2000;
  box-shadow: 4px 4px 40px black;
  color: white;
}
div#winwrap {
  position: absolute;
  width: 100%;
  top: 100px;
  text-align: center;
}
